---
---

@import "{{ site.theme }}";

#header_wrap .inner {
    padding: 50px 10px 30px 10px;
    max-width: 800px;
}

#main_content {
    padding-top: 40px;
    max-width: 800px;
}

#footer_wrap .inner {
    position: relative;
    max-width: 800px;
    padding: 21px 10px;
    margin: 0 auto;
}